{% extends 'AppBundle::main_layout.html.twig' %}

{% block content %}
    <h1 class="page-header">
        Mes stations
        <a class="btn icon-btn btn-success" href="">
            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
        </a>
    </h1>

    <div class="row placeholders">

        <ul>
        {% for station in stations %}
            <li>{{ station ~ ' ' ~ station.getLastAttachsAvailable.attachs ~ '/' ~ station.nbAttachs }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

