{% extends 'AppBundle::main_layout.html.twig' %}

{% block content %}
    <h1 class="page-header">
        Toutes les stations
        <a class="btn icon-btn btn-success" href="">
            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
        </a>
    </h1>

    <div class="row placeholders">
        {% include 'AppBundle:station:datatable.html.twig' with {'stations': stations} %}
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            var options =  {
                "paging":   false,
                "ordering": true,
                "info":     false
            };

            $('#stations').DataTable(options);
        });
    </script>
{% endblock %}
