{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="container">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>

    <script>
        $( function() {
            $( ".datetime" ).datepicker({
                dateFormat: "yy-mm-dd"
            });
        } );
    </script>
    {% block script %}{% endblock %}
{% endblock %}