{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div>
        <a href="{{ path('add_alert') }}">Ajouter une alert</a>
    </div>

    <ul>
    {% for alert in alerts %}
        {{ alert.nom }}
    {% endfor %}
    </ul>
{% endblock %}

