{% extends 'AppBundle::main_layout.html.twig' %}

{% block content %}
    <h1 class="page-header">
        Mes alerts
        <a class="btn icon-btn btn-success" href="{{ path('add_alert') }}">
            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
        </a>
    </h1>

    <div class="row">
        <ul>
        {% for alert in alerts %}
            <li>{{ alert.station ~ ' entre ' ~ alert.start|date('H:m') ~ ' et ' ~ alert.end|date('H:m') }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

