{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div>
        <a href="{{ path('add_alert') }}">Ajouter une alert</a>
    </div>

    <ul>
    {% for alert in alerts %}
        <li>{{ alert.station ~ ' entre ' ~ alert.start|date('H:m') ~ ' et ' ~ alert.end|date('H:m') }}</li>
    {% endfor %}
    </ul>
{% endblock %}

