{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}